:root{
    --balck: #000000;
    --white: #ffffff;
    --grey: #4d4d4d;

    /* PADDING VAR  */
    --padding-section: 40px;
}


/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}


/*  Header Styles */

header, footer{
    background-color: var(--balck);
    color: var(--white);
    padding: 20px 0;
    /* text-align: center; */
}

header nav, footer{
    display: flex;
    justify-content: space-between;
    padding: 0 var(--padding-section);
}


header nav ul{
    display: flex;
    gap: 20px;
}


/* MAIN SECTION  */
main{
    padding: var(--padding-section) var(--padding-section);
}

.blog-list-section{
    margin: 20px 20px 0 20px;
}

.blog-list-heading{
    margin-bottom: 20px;
    text-align: center;
}

.blog-list-heading h2{
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
}

.blog-img{
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.blog-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blog-content{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
}

.blog-content .blog-text{
    padding: 20px 20px;
}

.blog-content .blog-btn{
    padding: 10px 20px;
    text-align: end;
}

.blog-content .blog-btn button{
    padding: 10px 15px;
    border: none;
    background-color: var(--balck);
    color: var(--white);
    cursor: pointer;
    transition: all 0.5s ease;
}

.blog-content .blog-btn button:hover{
    background-color: var(--grey);
}


/* FOOTER SECTION  */
footer{
    padding: var(--padding-section) var(--padding-section);
}

footer ul{
    margin-left: 13px;
}




/* 
*********************** GRID SYSTEM ***********************

12 COLUMNS GRID SYSTEM
DESKTOP-WIDTH: 1200px;
TABLET-WIDTH: 768px;
MOBILE-WIDTH: 480px; 

*************************************************************
*/

.row{
    display: flex;
    flex-wrap: wrap;
}



[class*="col-"]{
    padding: 15px;
}


.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 768px){
    [class*="col-"]{
        width: 100%;
    }
}
